<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GwslUser" value="domain\user"/>
    <add key="GwslPassword" value="somepassword"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup> 
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="NtlmHttpBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>
        <binding name="BasicMtomHttpBinding" messageEncoding="Mtom">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="NtlmMtomHttpBinding" messageEncoding="Mtom">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ICaseService" />
        <binding name="WSHttpBinding_IContactService" />
        <binding name="WSHttpBinding_IDocumentService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <!--Case Service Endpoints-->
      <endpoint address="http://localhost:4000/SI.WS.Core/SIF/CaseService.svc/Basic"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="CaseService.ICaseService" name="BasicHttpBinding_ICaseService" />
      <endpoint address="http://localhost:4000/SI.WS.Core/SIF/CaseService.svc/Ntlm"
        binding="basicHttpBinding" bindingConfiguration="NtlmHttpBinding"
        contract="CaseService.ICaseService" name="NtlmHttpBinding_ICaseService" />
      <endpoint address="http://localhost:4000/SI.WS.Core/SIF/CaseService.svc/BasicMtom"
        binding="basicHttpBinding" bindingConfiguration="BasicMtomHttpBinding"
        contract="CaseService.ICaseService" name="BasicMtomHttpBinding_ICaseService" />
      <endpoint address="http://localhost:4000/SI.WS.Core/SIF/CaseService.svc/NtlmMtom"
        binding="basicHttpBinding" bindingConfiguration="NtlmMtomHttpBinding"
        contract="CaseService.ICaseService" name="NtlmMtomHttpBinding_ICaseService" />
      <endpoint address="http://localhost:4000/SI.WS.Core/SIF/CaseService.svc/WSWindows"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICaseService"
        contract="CaseService.ICaseService" name="WSHttpBinding_ICaseService">
        <identity>
          <userPrincipalName value="user@domain" />
        </identity>
      </endpoint>
      
      <!--Contact Service Endpoints-->
      <endpoint address="http://localhost:4000/SI.WS.Core/SIF/ContactService.svc/Basic"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="ContactService.IContactService" name="BasicHttpBinding_IContactService" />
      <endpoint address="http://localhost:4000/SI.WS.Core/SIF/ContactService.svc/Ntlm"
        binding="basicHttpBinding" bindingConfiguration="NtlmHttpBinding"
        contract="ContactService.IContactService" name="NtlmHttpBinding_IContactService" />
      <endpoint address="http://localhost:4000/SI.WS.Core/SIF/ContactService.svc/BasicMtom"
        binding="basicHttpBinding" bindingConfiguration="BasicMtomHttpBinding"
        contract="ContactService.IContactService" name="BasicMtomHttpBinding_IContactService" />
      <endpoint address="http://localhost:4000/SI.WS.Core/SIF/ContactService.svc/NtlmMtom"
        binding="basicHttpBinding" bindingConfiguration="NtlmMtomHttpBinding"
        contract="ContactService.IContactService" name="NtlmMtomHttpBinding_IContactService" />
      <endpoint address="http://localhost:4000/SI.WS.Core/SIF/ContactService.svc/WSWindows"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IContactService"
        contract="ContactService.IContactService" name="WSHttpBinding_IContactService">
        <identity>
          <userPrincipalName value="user@domain" />
        </identity>
      </endpoint>

      <!--Document Service Endpoints-->
      <endpoint address="http://localhost:4000/SI.WS.Core/SIF/DocumentService.svc/Basic"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="DocumentService.IDocumentService" name="BasicHttpBinding_IDocumentService" />
      <endpoint address="http://localhost:4000/SI.WS.Core/SIF/DocumentService.svc/Ntlm"
        binding="basicHttpBinding" bindingConfiguration="NtlmHttpBinding"
        contract="DocumentService.IDocumentService" name="NtlmHttpBinding_IDocumentService" />
      <endpoint address="http://localhost:4000/SI.WS.Core/SIF/DocumentService.svc/BasicMtom"
        binding="basicHttpBinding" bindingConfiguration="BasicMtomHttpBinding"
        contract="DocumentService.IDocumentService" name="BasicMtomHttpBinding_IDocumentService" />
      <endpoint address="http://localhost:4000/SI.WS.Core/SIF/DocumentService.svc/NtlmMtom"
        binding="basicHttpBinding" bindingConfiguration="NtlmMtomHttpBinding"
        contract="DocumentService.IDocumentService" name="NtlmMtomHttpBinding_IDocumentService" />
      <endpoint address="http://localhost:4000/SI.WS.Core/SIF/DocumentService.svc/WSWindows"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDocumentService"
        contract="DocumentService.IDocumentService" name="WSHttpBinding_IDocumentService">
        <identity>
          <userPrincipalName value="user@domain" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>